.calc {
	padding-top: 100px;
	color: $color-2;

	//background: {
	//	image: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%),
	//		url("../img/calc/calc-bg.jpg");
	//		position: center;
	//		size: cover;
	//		repeat: no-repeat;
	//}

	//background-image: -webkit-image-set(
	//		linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%),
	//		url("../img/calc/calc-bg.avif") 1x,
	//		linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%),
	//		url("../img/calc/calc-bg.webp") 1x
	//);
	//background-image: image-set(
	//		linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%),
	//		url("../img/calc/calc-bg.avif") 1x,
	//		linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 100%),
	//		url("../img/calc/calc-bg.webp") 1x
	//);

	background-color: black;

	color: $color-2;
}

.calc__description {
	max-width: 580px;
}

.calc__text {
	width: 409px;
	margin-bottom: 80px;
}

.calc__wrapper {
	padding: 68px 60px;
	background: rgba(230, 205, 173, 0.3);
	backdrop-filter: blur(10px);
	border-radius: 30px 30px 0px 0px;

	position: relative;
}

.calc__container {
	background: rgba(33, 25, 25, 0.78);
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	padding: 30px 38px 20px 38px;
}

.calc__list {
	display: flex;
	align-items: center;
	gap: 64px;
	padding-top: 5px;
}

.calc__item {
	width: 190px;
	min-height: 87px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calc__item-wrapper {

}

.calc__item-title {
	margin: 0 0 12px
}

.calc__item-value {
	display: block;
	max-width: 140px;
	min-height: 42px;
	font-weight: 300;
	font-size: 16px;
	line-height: 130%;
	opacity: 0.7;
}

.calc__item-btn {
	width: 14px;
	height: 14px;
	border:none;
	background: {
		color: transparent;
		image: url('../img/sprite.svg#calc-btn-arrow');
		repeat: no-repeat;
		position: center;
		size: cover;
	}
	transition: transform .3s ease-in;

	&:hover{
		transform: translateY(5px)
	}
}	


.calc__btn {
	width: 219px;
	height: 67px;
}

.calc__date-list {
	display: none;
}

.calc__date-list_active {
	display: block;
	position: absolute;
	top: 226px;
	left: 0;
	width: 282px;
	padding: 20px;
	background-color: $color-2;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
	color: $color-1;
}

.calc__select-title {
	display: block;
	margin: 0 auto 20px;
	max-width: 160px;
}

.calc__select-btn {
	font-size: 14px;
	line-height: 130%;
	width: 106px;
	min-height: 38px;
	border-radius: 8px;
	padding: 10px 0;
	margin-left: auto;
}

.calc__date-list-wrapper {
	display: flex;
	justify-content: space-between;

}

.calc__date-mounths-list {
	width: 133px;
	//border-right: 1px solid #c0c0c0;
	padding-top: 9px;
	padding-bottom: 16px;
	//padding-right: 20px;
	margin-bottom: 20px;

	text-align: center;

	position: relative;

	&::after {
		display: block;
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 133px;
		background-color: #C0C0C0;
	}

}

.calc__date-mounths-item {
	margin-bottom: 11px;

	&:last-child {
		margin-bottom: 0;
	}
}

.calc__date-mounths-title {
	cursor: pointer;
	transition: all .3s ease-in;

	
	//&:focus,
	//&:active
	&:hover {
		color:$color-3;
		font-size: 16px;
		margin-bottom: 21px;
	}

	border: none;
	outline: none;

	background-color: transparent;
	display: block;
	font-weight: 700;
	font-size: 14px;
	line-height: 130%;
	color: #C0C0C0;
}

.calc__date-mounths-title_active {
	color:$color-3;
	font-size: 16px;
	margin-bottom: 21px;
}

.calc__date-dates-list {
	min-height: 147px;
	padding-top: 39px;
	padding-bottom: 54px;

	//padding: 39px 20px 54px;
}

.calc__date-dates-item {
	display: none;
}

.calc__date-dates-item_active {
	display: block;
	font-size: 14px;
	line-height: 130%;
	font-weight: 700;
	margin-bottom: 25px;
	cursor: pointer;

	transition: color .3s ease-in;

	&:hover{
		color:$color-3-hover
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.calc__number-of-person-list {
	display: none;
}

.calc__number-of-person-list_active {
	display: block;
	position: absolute;
	top: 226px;
	left: 415px;
	width: 49px;
	padding: 20px 0;
	background-color: $color-2;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
	color: $color-1;
}

.calc__number-of-person-item {
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
	transition: color .3s ease-in;

	&:focus,
	&:active,
	&:hover {
		color:$color-3;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

//! Обрати внимание на стилизацию ховеров и экивов!