.form {
	max-width: 980px;
	border: 1px solid $color-4;
	border-radius: 30px;
	padding: 60px 100px;
}

.form__title {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.02em;
	margin-bottom: 60px;
}

.form__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form__selects-container {
	display: flex;
	justify-content: space-between;
}

.form__selects-item {
	display: block;
	width: 222px;
	min-height: 99px;
}

.form__fieldset {
	border: 1px solid $color-4;
	border-radius: 12px;
	padding: 12px 15px;
	cursor: pointer;
}

.form__label {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	margin-bottom: 9px;
}

.form__input {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 130%;
	color: $color-4;
	opacity: 0.7;
	border: none;
	outline: none;
	width: 100%;
	cursor: pointer;
}

.fieldset__full-name {
	margin-bottom: 30px;
	min-height: 99px;
}

.form__communication-container {
	display: flex;
	justify-content: space-between; 
}

.fieldset__email,
.fieldset__phone {
	width: 360px;
	min-height: 99px;
}

.form__booking-container {
	display: flex;
	justify-content: space-between;
}

.form__booking-data-value {
	margin-bottom: 18px;
}

.form__booking-price {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
}

.form__btn {
	width: 360px;
}

.form__arrow-btn {
	padding: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border:none;
	background: {
		color: transparent;
		image: url('../img/form/arrow-down.png');
		repeat: no-repeat;
		position: center;
		size: 14px 14px;
	}
}


@media (max-width: 1200px) {
	.form {
		padding: 60px 80px 69px 80px;
	}

	.form__title {
		font-size: 30px;
	}

	.form__btn {
		width: 299px;
		height: 63px;
	}
}

@media (max-width: 1000px) {
	.form {
		padding: 40px 60px;
	}

	.form__title {
		font-size: 20px;
		line-height: 150%;
		margin-bottom: 40px;
	}

	.form__btn {
		width: 220px;
		height: 45px;
	}

	.form__selects-item {
		width: 170px;
	}

	.form__label {
		font-size: 14px;
	}

	.fieldset__full-name {
		margin-bottom: 24px;
	}

	.fieldset__email, .fieldset__phone {
		width: 280px;
		min-height: 83px;
	}

	.form__booking-data-value {
		margin-bottom: 18px;
		font-size: 14px;
		line-height: 150%;
	}

	.form__booking-price {
		font-size: 18px;
	}
}

@media (max-width: 738px) {
	.form {
		padding: 20px 10px 25px 10px;
	}

	.form__title {
		font-size: 16px;
		margin-bottom: 25px;
	}

	.form__btn {
		width: 151px;
		height: 34px;
		margin: 0 auto;
	}

	.form__container {
		gap: 15px;
	}

	.form__selects-container {
		flex-direction: column;
		gap: 15px;
		width: 515px;
		margin: 0 auto;
	}

	.form__label {
		font-size: 12px;
	}

	.form__selects-item {
		width: 100%;
		min-height: 86px;
	}

	.form__communication-container {
		flex-direction: column;
		gap: 15px;
	}

	.fieldset__full-name {
		margin-bottom: 15px;
		min-height: 70px;
	}

	.form__booking-container {
		flex-direction: column;
		gap: 25px;
	}

	.form__booking-data-value {
		margin-bottom: 10px;
		font-size: 12px;
	}

	.fieldset__email, .fieldset__phone {
		width: 100%;
		min-height: 70px;
	}
}