.photo {
	//min-height: 1021px;
	padding-top: 47px;
	padding-bottom: 150px;
	position: relative;
}

.photo__description {
	max-width: 580px;
}

.photo__slider {
	max-width: 1440px;
	height: 500px;
	margin: 0 auto;
}

.photo__slide {
	cursor: pointer;
	width: 1110px;
	height: 500px;
}

.photo__img {
	display: block;
	width: 1110px;
	height: 500px;
}

.photo__slider-navigation {
	margin: 0 auto;
	max-width: 1180px;
	height: 90px;
	top: -50%;
	transform: translateY(-50%);
	position: relative;
	z-index: 10;
}

.photo__slider-prev,
.photo__slider-next  {
	cursor: pointer;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid $color-2;
	outline: transparent;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	display: none;
	@include bg-full('../img/photo/arrow-white.png');
	background-size: 35px 35px;
	transition: all .3s ease-in;

	&:hover {
		background: {
			color: $color-2;
			image: url('../img/photo/arrow-black.png');
			position: 45px center;
		}
	}
	
	&:focus {
		background: {
			color: rgba(249, 249, 249, 0.3);
			image: url('../img/photo/arrow-white.png');
			position: center center;
		}
	}

	&:active {
		background: {
			color: $color-2;
			image: url('../img/photo/arrow-black.png');
			position: 45px center;
		}
		outline: 1px solid $color-3;
	}
}

.photo__slider-prev {
	left: 130px;
	transform:translateY(-50%) rotate(180deg) ;
}

.photo__slider-next {
	right: 130px;
}

.photo__slider-prev_active {
	display: block;
}

.photo__slider-next_active {
	display: block;
}


// Зоны, при наведении на которые отображаются элементы управления
.photo__navigation-left,
.photo__navigation-right {
	display: block;
	width: calc(130px + 90px);
	height: 500px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.photo__navigation-left {
	left: -130px;
}

.photo__navigation-right {
	right: -130px;
}
// Зоны, при наведении на которые отображаются элементы управления |

@media (max-width: 1200px) {
	.photo {
		padding-top: 60px;
		padding-bottom: 120px;
	}

	.photo__description {
		max-width: 540px;
	}

	.photo__slider {
		max-width: 1024px;
		height: 370px;
	}

	.photo__slide {
		width: 822px;
		height: 370px;
	}

	.photo__img {
		width: 822px;
		height: 370px;
	}

	.photo__slider-navigation {
		max-width: 940px;
	}

	.photo__navigation-left {
		left: -42px;
		height: 370px;
		width: calc(42px + 90px);
	}
	
	.photo__navigation-right {
		right: -42px;
		height: 370px;
		width: calc(42px + 90px);
	}

	.photo__slider-prev {
		left: 42px;
	}
	
	.photo__slider-next {
		right: 42px;
	}
}

@media (max-width: 1000px) {
	.photo {
		padding-top: 45px;
		padding-bottom: 90px;
	}

	.photo__description {
		max-width: 418px;
	}

	.photo__slider {
		max-width: 768px;
		height: 346px;
	}

	.photo__slide {
		width: 768px;
		height: 346px;
	}

	.photo__img {
		width: 768px;
		height: 346px;
	}

	.photo__slider-navigation {
		max-width: 700px;
	}

	.photo__navigation-left {
		left: -34px;
		height: 346px;
		width: calc(34px + 90px);
	}
	
	.photo__navigation-right {
		right: -34px;
		height: 346px;
		width: calc(34px + 90px);
	}

	.photo__slider-prev {
		left: 34px;
	}
	
	.photo__slider-next {
		right: 34px;
	}
}

@media (max-width: 738px) {
	.photo {
		padding-top: 25px;
		padding-bottom: 50px;
	}

	.photo__description {
		max-width: 100%;
	}

	.photo__slider {
		max-width: 320px;
		height: 144px;
	}

	.photo__slide {
		width: 320px;
		height: 144px;
	}

	.photo__img {
		width: 320px;
		height: 144px;
	}

	.photo__slider-navigation {
		max-width: 270px;
		height: 34px;
	}

	.photo__navigation-left {
		left: -25px;
		height: 144px;
		width: calc(25px + 34px);
	}
	
	.photo__navigation-right {
		right: -25px;
		height: 144px;
		width: calc(25px + 34px);
	}

	.photo__slider-prev,
	.photo__slider-next  {
		cursor: pointer;
		width: 34px;
		height: 34px;
		background-size: 13px 13px;

		&:hover {
			background: {
				position: 45px center;
			}
		}
		
		&:focus {
			background: {
				position: center center;
			}
		}

		&:active {
			background: {
				position: 45px center;
			}
		}
	}

	.photo__slider-prev {
		left: 25px;
	}
	
	.photo__slider-next {
		right: 25px;
	}
}
