$main-font-family: Nunito, sans-serif;
$secondary-font-family: Merriweather, sans-serif;

$color-1: #303030;
$color-2: #FFFFFF;
$color-3: #FCB500;
$color-4: #AFAFAF;

$color-3-hover: #F3C858;
$color-3-active: #D09600;
$color-3-focus: #C2900F;





